<form> 
	<label for="name">user:</label>
	<input type="text" id="user" name="user">
	<label for="id">ID: </label>
	<input type="text" id="game-id" name="id">
	<button type="button" id="submit">join</button>
	<label id="error"></label>
</form>

<script src="assets/js/global.js"></script>
<script>

if (params.id)
	document.getElementById("game-id").value = params.id;

names = [
	"Abigail",
	"Adriaens",
	"Ailey",
	"Alex",
	"Allegra",
	"Alysa",
	"Amity",
	"Anette",
	"Annadiane",
	"Antonie",
	"Ariela",
	"Astra",
	"Aurie",
	"Barbe",
	"Bellanca",
	"Berry",
	"Beverlee",
	"Blinni",
	"Brandy",
	"Britta",
	"Callida",
	"Caria",
	"Carmelle",
	"Cass",
	"Catrina",
	"Channa",
	"Cheri",
	"Christean",
	"Clara",
	"Clerissa",
	"Constantine",
	"Corly",
	"Cristionna",
	"Dalia",
	"Darbie",
	"Davina",
	"Deidre",
	"Desdemona",
	"Dione",
	"Donny",
	"Dorri",
	"Dusty",
	"Edna",
	"Elianore",
	"Elonore",
	"Emilia",
	"Erika",
	"Ethelin",
	"Evvy",
	"Faye",
	"Filide",
	"Francene",
	"Gabi",
	"Genna",
	"Gert",
	"Giovanna",
	"Goldi",
	"Gus",
	"Hallie",
	"Hedi",
	"Hertha",
	"Hynda",
	"Ingeberg",
	"Ivy",
	"Jammie",
	"Jany",
	"Jenelle",
	"Jesselyn",
	"Joby",
	"Jolie",
	"Joycelin",
	"Justine",
	"Kara-Lynn",
	"Karoline",
	"Kathleen",
	"Kelci",
	"Kevyn",
	"Kit",
	"Kristin",
	"Lanna",
	"Lavena",
	"Lelia",
	"Lettie",
	"Lillis",
	"Lissie",
	"Loralyn",
	"Louella",
	"Luz",
	"Maddi",
	"Maiga",
	"Marcella",
	"Margot",
	"Marina",
	"Marnia",
	"Marylynne",
	"Meade",
	"Melita",
	"Merola",
	"Mil",
	"Miranda",
	"Morganica",
	"Nadiya",
	"Natasha",
	"Netta",
	"Nisse",
	"Novelia",
	"Onida",
	"Pamella",
	"Peg",
	"Phil",
	"Prudence",
	"Randie",
	"Reggi",
	"Riane",
	"Robinia",
	"Rosaleen",
	"Rosy",
	"Ruthy",
	"Sapphira",
	"Sella",
	"Sharleen",
	"Shell",
	"Sibelle",
	"Sonnnie",
	"Stephi",
	"Sybil",
	"Tammie",
	"Teodora",
	"Therine",
	"Tobey",
	"Trina",
	"Val",
	"Venus",
	"Violante",
	"Waly",
	"Winifred",
	"Yolanthe",
	"Zulema"
]

document.getElementById("user").value = names[Math.floor(Math.random() * names.length)];

document.getElementById("submit").onclick = async function submit() {
	let f = document.querySelector("form");
	let data = new FormData(f);
	let res = await fetch("/join-game", {
		method: 'post',
		body: data
	})
	let ret = await res.json();
	if (ret['status'] != "ok") {
		document.getElementById('error').innerText = ret['res'];
	} else {
		//join good go to game lobby
		window.location.href = '/lobby?id='+document.getElementById("game-id").value;
	}
}

</script>
