<p>players:</p>
<ul id="players">
</ul>
<button id="leave">leave</button>

<script src="assets/js/global.js"></script>
<script>

let players = [];

function wait_session() {
	if (GAME_ID || params.id) {
		setInterval(update_players, 1000, GAME_ID || params.id);
	} else {
		window.location.href = "/";
	}
}

async function update_players(id) {
	let d = document.getElementById("players");
	let data = new FormData();
	data.append('id', id)
	let res = await fetch('/game-info', {
		method: 'post',
		body: data
	});
	let ret = await res.json();
	if (ret['status'] == "ok") {
		if (JSON.stringify(players) !== JSON.stringify(ret['res']['users'])){
			players = ret['res']['users'];
			d.innerHTML = "";
			for (let u of ret['res']['users']) {
				let p = document.createElement('li');
				p.innerText = u;
				d.appendChild(p);
			}
		}
	} else {
		// game not found 
		window.location.href = "/";
	}
}

document.getElementById("leave").onclick = async function leave() {
	let res = await fetch('leave-game', {
		method: "post"
	});
	let data = await res.json();
	if (data["status"] == "ok") {
		// succesfully left game
		window.location.href = "/";
	}
}

</script>
